/** Tooltip hover styles **/

.apppresser_settings .help {
	background: rgb(220,220,220);
	border-radius: 50%;
	color: rgb(0, 0, 0);
	display: inline-block;
	height: 15px;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	width: 15px;
	font-weight: normal;
}
.apppresser_settings.mp6 .help {
	line-height: 15px;
}
.form-table .appp-section-title {
	padding-bottom: 0;
}
.appp-section-title h3 {
	margin: 0;
}
.apppresser_settings .form-table {
	display: none;
	padding-top: .6em;
}
.apppresser_settings .form-table.nav-tab-active {
	display: block;
}
.appp-ajax-results-help {
	display:none;
	margin: 10px 0 -8px 7px !important;
}
.submit .appp-tabs {
	margin: 0 10px;
	display: none;
}
.appp-tabs.nav-tab-active {
	display: inline;
}
.license_key.description span {
	color: white;
	display: block;
	background: #49C749;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	margin: -5px 1px;
	width: 25em;
}
.mp6 .license_key.description span {
	font-size: 14px;
}
.license_key.description span.inactive {
	background: #F14949;
}
.license_key.description span.inactive a {
	color: #fff;
}

.appp-addon {
	background: #fafafa;
	border: 1px solid #eee;
	padding: 1em;
	margin: 0 1% 1em 0;
	min-width: 200px;
	max-width: 300px;
	width: 30%;
	position: relative;
	float: left;
	height: 515px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.appp-addon img {
	max-width: 100%;
	height: auto;
}

.appp-addon h2 {
	margin-bottom: 10px;
}

@media screen and (max-width:600px) {
	.appp-addon {
		width: 100%;
		max-width: 100%;
		float: none;
		margin-right: 0;
	}
}
