h2.nav-tab-wrapper {
	margin:22px 0 0 0;
}

#sections {
	padding:22px;
	background: #fff;
	border:1px solid #ccc;
	border-top:0px;
}

section {
	display:none;
}

section:first-child {
	display:block;
}


.no-js h2.nav-tab-wrapper {
	display:none;
}

.no-js #sections {
	border-top:1px solid #ccc;
	margin-top:22px;
}

.no-js section {
	border-top: 1px dashed #aaa;
	margin-top:22px;
	padding-top:22px;
}

.no-js section:first-child {
	margin:0px;
	padding:0px;
	border:0px;
}

.apppresser-welcome .appp-logo {
    margin-top: 24px;
}

.apppresser-welcome h2.nav-tab-wrapper {
	margin-top: 24px;
}

.apppresser-welcome ul {
	list-style-type: disc;
}

.apppresser-welcome li {
	margin-left: 24px;
}